{% comment %}

---------------------------------------------------------
Copyright © 2025 Genius Maker. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact +91 9672 366 086
---------------------------------------------------------

{% endcomment %}

<style>
    .collection-slider-wrapper--gm {
        width: 100%;
        max-width: 1600px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5rem;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        box-sizing: border-box;
        padding-block: 20px;
        padding-inline: 20px;
        margin: {{ margin_block }}px auto;
      --content-width: {{ collection_width }}px;
    }

  /*To center the main container keeping the horizontal scroll */
      .collection-slider-wrapper--gm::before,
      .collection-slider-wrapper--gm::after {
        content: "";
        margin: auto;
      }

    .collection-slider-content--gm {
        width: var(--content-width);
        height: auto;
        min-height: var(--content-width);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
      }

      .collection-slider-content--gm a {
        width: 100%;
        height: 100%;
        text-decoration: none;  
        font-size: 1.5rem;
        text-align: center;
        color: #1e1e1e;
      }

      .collection-image-wrapper {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;   
        margin-bottom: 5px;
      }
     
    .collection-image-wrapper img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        padding: 3px;
        background: {{ gradient_color }} padding-box;
    }

    .collection-image-wrapper:hover img  {
        transform: scale(1.1);
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    @media only screen and (max-width: 992px) {
      .collection-slider-wrapper--gm {
          scrollbar-width: none;
      }
      
     .collection-slider-content--gm {
          width: calc(var(--content-width)/1.5);
          min-height: calc(var(--content-width)/1.5);
      }
    .collection-slider-wrapper--gm::-webkit-scrollbar {
        display: none;
      }
 
    .collection-slider-content--gm a {
      font-size: 1.2rem;
      }
    }

  @media only screen and (max-width: 640px){
    .collection-slider-content--gm {
      width: calc(var(--content-width)/2);
      min-height: calc(var(--content-width)/2);
    }
  }


 / * ===== Scrollbar CSS ===== */
.collection-slider-wrapper--gm {
    scrollbar-width: auto;
    scrollbar-color: #FF6347 #FFFFE0;
  }

  /* Chrome, Edge, and Safari */
  .collection-slider-wrapper--gm::-webkit-scrollbar {
    width: 16px;
  }

  .collection-slider-wrapper--gm::-webkit-scrollbar-track {
    background: #FFFFE0;
    border-radius: 100px;
  }

  .collection-slider-wrapper--gm::-webkit-scrollbar-thumb {
    background-color: {{ scrollbar_color }};
    border-radius: 100px !important;
    border: 3px solid #ffffff;
  }

/* ===== Scrollbar CSS ===== */


</style>

<div class="collection-slider-content--gm" {{ block.shopify_attributes }}>
    <a href="{{ collection_url }}">
      <div class="collection-image-wrapper">
      {% if collection_image != blank %}
        {{ collection_image | image_url: width: 200, height: 200 | image_tag: alt: collection.name, crop: "center" }}
      {% endif %}
      </div>
      {% if collection_name != blank %}
	      {{ collection_name }}
	    {% endif %}
    </a>
</div>



